<div class="navbar">
    <div class="content content-1" #container1>
        <a class="link brand" [routerLink]="['/']">
            <img src="assets/public/images/logo-navbar.svg" alt="logo-mts">
        </a>
        <a class="link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="link" [routerLink]="['/services']" routerLinkActive="active">Services</a>
        <a class="link" [routerLink]="['/plans']" routerLinkActive="active">Plans</a>
        <a class="link" [routerLink]="['/about']" routerLinkActive="active">About</a>
        <div class="not-dispose">
            <a class="link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </div>
        <div class="not-dispose">
            <a mat-flat-button class="link primary" [routerLink]="['/users/login']" routerLinkActive="disable">Sign
                in</a>
        </div>
    </div>
    <div class="content content-2">
        <div class="dispose">
            <a class="link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            <a mat-flat-button class="link primary" [routerLink]="['/users/login']" routerLinkActive="disable">Sign
                in</a>
        </div>
    </div>
</div>