<ng-container *ngIf="home">
    <div class="home">
        <div class="header">
            <div class="title">Prepaid assett preservation coverage</div>
        </div>
        <div class="content">
            <div class="images-content">
                <img src="../../../../assets/public/images/prices/prices-building.svg" alt="prices-building">
                <div class="buttons">
                    <a mat-flat-button class="white fluid" routerLink="/plans">Our plans</a>
                    <a mat-flat-button class="secondary fluid" routerLink="/contact">Contact us</a>
                </div>
            </div>
            <div class="grid">
                <div class="item">
                    <div class="title">Basic</div>
                    <p>Basic maintenance services, easy to carry out.
                        <br>Highly competitive in the actual maintenance
                        service
                        market
                    </p>
                    <a mat-flat-button class="primary" routerLink="/plans">Read more</a>
                </div>
                <div class="item right">
                    <div class="title">Premium</div>
                    <p>Highly effective maintenance services that upgrade BASIC Coverage scope by including additional
                        assets of the Unit</p>
                    <a mat-flat-button class="primary" routerLink="/plans">Read more</a>
                </div>
                <div class="item">
                    <div class="title">Standard</div>
                    <p>High profile maintenance services covering all the household appliances and equipment of the Unit
                    </p>
                    <a mat-flat-button class="primary" routerLink="/plans">Read more</a>
                </div>
                <div class="item right">
                    <div class="title">Ultra</div>
                    <p>Broad and sustained service supported by semi-resident or resident personnel. This option
                        includes additional services
                        provided by the assigned domestic personnel</p>
                    <a mat-flat-button class="primary" routerLink="/plans">Read more</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!home">
    <div class="coky-public">
        <div class="section plans">
            <app-public-navbar></app-public-navbar>
            <div class="container">

                <div class="header">
                    <div class="title">Plans</div>
                    <div class="slogan">Leave your problems in our hands</div>
                </div>

                <div class="squares">
                    <ng-container *ngFor="let plan of plans">
                        <div class="square card hover {{plan}}">
                            <span class="tooltiptext {{plan}}">{{plan}}</span>
                            <div class="list">
                                <div class="item" *ngFor="let item of microservices">
                                    <img src="../../../../assets/public/images/icons/{{item[plan]?'check':'close'}}.svg"
                                        alt="{{item[plan]?'check':'close'}}" class="{{item[plan]?'check':'close'}}">
                                    <!-- <ion-icon name="{{item[plan]?'checkmark':'close'}}" size="large"></ion-icon> -->
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                            <a routerLink="/quote/{{plan}}" mat-button class="primary">Get quote</a>
                        </div>
                    </ng-container>
                </div>

                <div class="aditional">
                    <div class="images-content">
                        <img src="../../../../assets/public/images/prices/prices-people.svg" alt="prices-people">
                    </div>
                    <div class="text-content">
                        <div class="title">Aditional<br>Services</div>
                        <p>We have two extra special services which you <br> can self-quote on our website at any time
                            you
                            wish. <br><br><strong>Get a quote now!</strong></p>

                        <div class="buttons nowrap md">
                            <a mat-flat-button class="white padding" routerLink="/quote/desinfection">Desinfection
                                services</a>
                            <a mat-flat-button class="white padding" routerLink="/quote/nonoccupied">Non occupied
                                unit</a>
                        </div>
                    </div>
                </div>
                <app-public-services [home]="true"></app-public-services>
            </div>

            <app-public-footer></app-public-footer>
        </div>
    </div>
</ng-container>