@import "../../../../../assets/public/scss/imports/variables.scss";

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width:480px) {
    position: relative;
  }

  .text-content {
    width: 100%;
    z-index: 1;

    @media screen and (max-width:480px) {
      text-shadow: 3px 3px 20px rgba($color: black, $alpha: 0.5);
    }
  }

  .images-content {
    min-width: 86rem;

    @media screen and (max-width:1700px) {
      min-width: 70rem;
    }

    @media screen and (max-width:1480px) {
      min-width: 60rem;
    }

    @media screen and (max-width:1240px) {
      min-width: 50rem;
      position: absolute;
      z-index: 0;

      &.right {
        right: -8%;
      }

      &.left {
        right: -8%;
      }
    }

    @media screen and (max-width:992px) {
      min-width: 40rem;
    }

    @media screen and (max-width:768px) {
      min-width: 30rem;
    }

    @media screen and (max-width:480px) {
      min-width: 30rem;

      &.right {
        right: -50%;
      }

      &.left {
        left: -28%;
      }
    }

    img {
      width: 100%;
      height: 100%;

      @media screen and (max-width:480px) {
        width: 80%;
        height: 80%;
        filter: brightness(90%);
      }
    }
  }
}
