.coky-public {
  .login {
    justify-content: space-between;

    .container {

      .card {
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        max-width: 500px;
        padding: 1.5rem 3rem;

        @media (max-width:1440px) {
          max-width: 400px;
        }

        @media (max-width:992px) {
          max-width: none;
          width: 100%;
        }

        .title {
          font-size: 4.5rem;
          font-weight: $font-black;
          //   margin: 0;

          @media screen and (max-width:1700px) {
            font-size: 4.3rem;
          }

          @media screen and (max-width:1480px) {
            font-size: 4rem;
          }

          @media screen and (max-width:992px) {
            font-size: 3.5rem;
          }

          @media screen and (max-width:768px) {
            font-size: 3rem;
          }

          @media screen and (max-width:480px) {
            font-size: 2.5rem;
          }
        }

        input {
          border: $border;

          &:focus {
            border: 1px solid $primary-color-public;
          }
        }

        .forgot {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
