<div class="coky-built-in">
    <div class="login">
        <!-- <admin-carousel-brand class="carousel-container" [images]="images"></admin-carousel-brand> -->
        <div class="container">

            <div class="card form">
                <h4>Registro nombre plataforma</h4>
                <p class="text-danger">{{alert}}</p>

                <div class="flex">
                    <div class="field">
                        <label>Primer nombre</label>
                        <input type="text" placeholder="Primer nombre">
                    </div>
                    <div class="field">
                        <label>Segundo nombre</label>
                        <input type="text" placeholder="Segundo nombre">
                    </div>
                </div>

                <div class="flex">
                    <div class="field">
                        <label>Primer apellido</label>
                        <input type="text" placeholder="Primer apellido">
                    </div>
                    <div class="field">
                        <label>Segundo apellido</label>
                        <input type="text" placeholder="Segundo apellido">
                    </div>
                </div>

                <div class="flex-one">
                    <div class="field">
                        <label>Correo electrónico</label>
                        <input type="email" placeholder="Correo electrónico">
                    </div>
                    <div class="field">
                        <label>Nombre de usuario</label>
                        <input type="text" placeholder="Nombre de usuario">
                    </div>
                    <div class="field">
                        <label>Contraseña</label>
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <div class="field">
                        <label>Repetir la contraseña</label>
                        <input type="password" placeholder="Repetir la contraseña">
                    </div>
                </div>

                <br>

                <button class="btn btn-primary btn-center">Registrarse</button>

                <a [routerLink]="['/admin/users/login']">¿Ya tienes una cuenta? — Ingresa</a>

            </div>
        </div>
    </div>
</div>