.coky-public {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  background-color: $back-color-public;
  margin: 0;
  padding: 0;

  >* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    max-width: 1440px;

    @media screen and (max-width:1440px) {
      max-width: 90vw;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    background-color: white;

    padding: .5em .8em;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    box-shadow: $shadow-xs;

    font-size: 2rem;
    line-height: 1em;

    @media screen and (max-width:1440px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width:992px) {
      padding: .8em .8em;
    }

    &:focus {
      box-shadow: $shadow-sm;
      border: 1px solid $primary-color-public;
    }
  }

  textarea {
    padding: .8em;
  }

  option {
    font-size: 1em;
  }

  a {
    color: $primary-color;
    cursor: pointer;
  }

  button,
  .btn,
  .button,
  [class^='btn'],
  a[mat-button],
  a[mat-flat-button],
  a[mat-menu-item] {
    cursor: pointer;
    text-decoration: none;
    border-radius: $rounded;
    font-weight: $font-medium;
    white-space: nowrap;

    width: fit-content;

    display: flex;
    align-items: center;

    background-color: transparent;
    color: white;

    padding: .7em 1em;
    font-size: 2.5rem;

    @media screen and (max-width:1440px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width:992px) {
      font-size: 1.8rem;
    }

    &.middle {
      min-width: 50%;
      justify-content: center;
    }

    &.fluid {
      width: 100%;
      justify-content: center;
    }

    &:hover {
      box-shadow: $shadow-md;
    }

    &.no-padding {
      padding: 0;
    }

    &[mat-icon-button] {
      box-shadow: none !important;
      border-radius: 50%;
      justify-content: center;
    }

    &[mat-button],
    &[mat-flat-button],
    &[mat-menu-item] {
      box-shadow: none !important;

      .mat-button-wrapper {
        font-weight: $font-medium;
        font-size: 1em !important;
        line-height: 1em !important;
      }
    }


  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: fit-content;
      position: relative;
      max-width: 1440px;
      padding: 0;

      @media screen and (max-width:1440px) {
        max-width: 80vw;
      }

      @media screen and (max-width:992px) {
        max-width: 90vw;
      }

      >* {
        width: 100%;
        margin: 3rem 0;
      }

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        >* {
          margin-bottom: 1rem;
        }

        .title {
          font-size: 10rem;

          @media screen and (max-width:1700px) {
            font-size: 9rem;
          }

          @media screen and (max-width:1480px) {
            font-size: 8rem;
          }

          @media screen and (max-width:992px) {
            font-size: 7rem;
          }

          @media screen and (max-width:768px) {
            font-size: 6.5rem;
          }

          @media screen and (max-width:480px) {
            font-size: 5rem;
          }

          @media screen and (max-width:400px) {
            font-size: 4rem;
          }
        }

        .slogan {
          font-size: 3rem;

          @media screen and (max-width:1480px) {
            font-size: 2.5rem;
          }

          @media screen and (max-width:992px) {
            font-size: 2rem;
          }

        }

        &.left {
          align-items: flex-start;

          .title,
          p {
            text-align: left;
          }
        }

        &.right {
          align-items: flex-end;

          .title,
          p {
            text-align: right;
          }
        }
      }
    }
  }

  .field {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: .5rem;

    font-size: 2.2rem;

    @media screen and (max-width:1440px) {
      font-size: 2rem;
    }

    @media screen and (max-width:992px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width:768px) {
      font-size: 1.6rem;
    }

    label {
      font-weight: $font-semibold;
      font-size: 1em;
      margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select,
    .check {
      font-size: 1em;
    }

    &.inline {
      flex-direction: row !important;
      align-items: flex-start !important;

    }

    &.left {
      align-items: flex-start !important;
    }

    &.right {
      align-items: flex-end !important;
    }
  }

  .two {
    &.fields {
      display: flex;
      flex-direction: row;
      width: 100%;

      >* {
        width: 100%;
      }

      @media screen and (max-width:992px) {
        flex-direction: column;
      }
    }
  }

  .check {
    flex-direction: row !important;
    align-items: center !important;

    >* {
      margin: 0;
    }

    input[type="checkbox"] {
      min-height: 2rem;
      min-width: 2rem;

      &.white,
      &.primary,
      &.secondary,
      &.alert,
      &.success,
      &.danger,
      &.dark,
      &.gray {
        background-color: white !important;
        border: none;
        box-shadow: $shadow-xs;

      }

      &:checked {
        &.white {
          background-color: white !important;
        }

        &.primary {
          background-color: $primary-color-public !important;
        }

        &.secondary {
          background-color: $secondary-color-public !important;
        }

        &.alert {
          background-color: $alert-color-public !important;
        }

        &.success {
          background-color: $success-color-public !important;
        }

        &.danger {
          background-color: $danger-color-public !important;
        }

        &.dark {
          background-color: $dark-color-public !important;
        }

        &.gray {
          background-color: $gray-color-public !important;
        }
      }
    }

    label {
      margin-left: 1rem;
      font-weight: $font-medium;
    }

    // .white,
    // .primary,
    // .secondary,
    // .alert,
    // .success,
    // .danger,
    // .dark,
    // .gray {
    //   background-color: white !important;
    // }


  }

}
