@import "../../../../assets/public/scss/imports/variables.scss";

.contact {
  .container {
    justify-content: center;
    color: white;

    .content {
      display: flex;
      justify-content: center;
      width: 100%;

      @media screen and (max-width:1440px) {
        // align-items: center;
      }

      @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
      }

      .images-content {
        @media screen and (max-width:992px) {
          width: 50%;
        }

        img {
          width: 100%;
        }
      }

      .text-content {
        align-items: flex-end;
        justify-content: flex-end;

        @media screen and (max-width:768px) {
          width: 100%;
        }

        .field {
          align-items: flex-end;
          justify-content: flex-end;
          width: 80%;

          &.full {
            width: 50vw;
          }

          &.middle {
            width: 70%;
          }

          &.mini {
            width: 50%;
          }

          &.check {
            justify-content: flex-start;
          }

          @media screen and (max-width:768px) {
            width: 100% !important;
          }
        }
      }
    }
  }
}
