<div class="coky-public">
    <div class="section contact">
        <app-public-navbar></app-public-navbar>
        <div class="container">
            <div class="header">
                <div class="title">Contact us</div>
            </div>
            <div class="content">
                <div class="images-content">
                    <img src="../../../../assets/public/images/contact/contact-message.svg" alt="contact-message.svg">
                </div>

                <form class="text-content" [formGroup]="form" (ngSubmit)="save($event)">
                    <div class="field mini">
                        <label for="plans">Plans *</label>
                        <select class="form-select" formControlName="plan">
                            <option value="basic">Basic</option>
                            <option value="standard">Standard</option>
                            <option value="premium">Premium</option>
                            <option value="ultra">Ultra</option>
                            <option value="desinfection">Desinfection Services</option>
                            <option value="nonocuppied">Non occupied unit</option>
                        </select>
                    </div>
                    <div class="field mini">
                        <label for="Description of Residence">Description of Residence *</label>
                        <select class="form-select" formControlName="residence">
                            <option value="apartment">Apartment</option>
                            <option value="house">House</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="Full name">Full name *</label>
                        <input type="text" class="form-control" placeholder="Full name" formControlName="full_name">
                    </div>

                    <div class="field middle">
                        <label for="Phone">Phone *</label>
                        <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                    </div>

                    <div class="field middle">
                        <label for="E-mail">E-mail *</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                    </div>

                    <div class="field middle">
                        <label for="Address">Address *</label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="address">
                    </div>

                    <div class="field full">
                        <label for="message">Tell us, how can we help you? *</label>
                        <textarea rows="4" class="form-control" placeholder="Tell us, how can we help you?"
                            formControlName="message"></textarea>
                    </div>

                    <div class="field check full">
                        <input class="form-check-input primary" type="checkbox" id="policy-check" name="policy-check"
                            formControlName="privacy_policy">
                        <label class="form-check-label" for="policy-check">
                            By using this form you agree with the storage and handling of your data by this website in
                            accordance with our <a class="text-primary" routerLink="/policies">data treatment policy</a>
                            *
                        </label>
                    </div>
                    <div class="field check full">
                        <input class="form-check-input primary" type="checkbox" id="promotional-check"
                            name="promotional-check" formControlName="send_promo">
                        <label class="form-check-label" for="promotional-check">
                            Yes, I would like to receive updates and special offers from MTS CORPORATION
                        </label>
                    </div>

                    <div class="field full left">
                        <button type="submit" class="primary middle" mat-flat-button>Send</button>
                    </div>
                </form>
            </div>
        </div>
        <app-public-footer></app-public-footer>
    </div>
</div>