.coky-built-in {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  background-color: $back-color;
  margin: 0;
  padding: 0;

  >* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;

    @media screen and (max-width:1280px) {
      height: fit-content;
      width: 100%;
    }
  }

  @media screen and (max-width:1280px) {
    flex-direction: column;
  }


  .section {
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100vw;
    max-width: 100%;

    padding: 0;
    background-color: white;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    box-shadow: $shadow-xs;

    @media screen and (max-width:1280px) {
      border-radius: 0;
    }

    @media screen and (max-width:992px) {}

    >* {
      width: 100%;
      margin: 3rem 0;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: black;

      .title {
        font-size: 10rem;

        @media screen and (max-width:1700px) {
          font-size: 9rem;
        }

        @media screen and (max-width:1480px) {
          font-size: 8rem;
        }

        @media screen and (max-width:992px) {
          font-size: 7rem;
        }

        @media screen and (max-width:768px) {
          font-size: 6.5rem;
        }

        @media screen and (max-width:480px) {
          font-size: 5rem;
        }
      }

      .slogan {
        font-size: 3rem;

        @media screen and (max-width:1480px) {
          font-size: 2.5rem;
        }

        @media screen and (max-width:992px) {
          font-size: 2rem;
        }

        @media screen and (max-width:768px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width:480px) {
          font-size: 1.6rem;
        }
      }
    }
  }

  .field {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: .5rem;

    font-size: 2.2rem;

    @media screen and (max-width:1440px) {
      font-size: 2rem;
    }

    @media screen and (max-width:992px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width:768px) {
      font-size: 1.6rem;
    }

    label {
      font-weight: $font-semibold;
      font-size: 1em;
      margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select,
    .check {
      font-size: 1em;
    }

    &.inline {
      flex-direction: row !important;
      align-items: flex-start !important;

    }

    &.left {
      align-items: flex-start !important;
    }

    &.right {
      align-items: flex-end !important;
    }
  }

  .two {
    &.fields {
      display: flex;
      flex-direction: row;
      width: 100%;

      >* {
        width: 100%;
      }

      @media screen and (max-width:992px) {
        flex-direction: column;
      }
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    background-color: white;

    padding: .5em .8em;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    box-shadow: $shadow-xs;

    font-size: 2rem;
    line-height: 1em;

    @media screen and (max-width:1440px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width:992px) {
      padding: .8em .8em;
    }

    &:focus {
      box-shadow: $shadow-sm;
      border: 1px solid $primary-color;
    }
  }

  textarea {
    padding: .8em;
  }

  option {
    font-size: 1em;
  }

  a {
    color: $primary-color;
    cursor: pointer;
  }

  button,
  .btn,
  .button,
  [class^='btn'],
  a[mat-button],
  a[mat-flat-button],
  a[mat-menu-item] {
    cursor: pointer;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: $rounded;
    font-weight: $font-medium;
    white-space: nowrap;
    font-size: 2rem;

    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: white;
    font-size: 2.2rem;

    @media screen and (max-width:1440px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width:1280px) {
      font-size: 1.6rem;
      padding: .7em 1em;
    }

    &.fluid {
      width: 100%;
      justify-content: center;
    }

    &.no-padding {
      padding: 0;
    }

    &[mat-icon-button] {
      box-shadow: none !important;
      border-radius: 50%;
      justify-content: center;
    }

    &[mat-button],
    &[mat-flat-button],
    &[mat-menu-item] {
      box-shadow: none !important;

      .mat-button-wrapper {
        font-weight: $font-medium;
        font-size: 1em !important;
        line-height: 1em !important;
      }
    }


  }

  .check {
    flex-direction: row !important;
    align-items: center !important;

    >* {
      margin: 0;
    }

    input[type="checkbox"] {
      min-height: 2rem;
      min-width: 2rem;

      &.white,
      &.primary,
      &.secondary,
      &.alert,
      &.success,
      &.danger,
      &.dark,
      &.gray {
        background-color: white !important;
        border: none;
        box-shadow: $shadow-xs;

      }

      &:checked {
        &.white {
          background-color: white !important;
        }

        &.primary {
          background-color: $primary-color !important;
        }

        &.secondary {
          background-color: $secondary-color !important;
        }

        &.alert {
          background-color: $alert-color !important;
        }

        &.success {
          background-color: $success-color !important;
        }

        &.danger {
          background-color: $danger-color !important;
        }

        &.dark {
          background-color: $dark-color !important;
        }

        &.gray {
          background-color: $gray-color !important;
        }
      }
    }

    label {
      margin-left: 1rem;
      font-weight: $font-medium;
    }

  }

}
