@import "../../../../../assets/built-in/scss/imports/variables.scss";

.navbar {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;

  background-color: white;

  width: 100vw;
  height: fit-content;
  box-shadow: $shadow-sm;

  display: flex;
  align-items: center;
  padding: 15px;
}
