<section class="footer">
    <div class="content">
        <div class="content-1">
            <a class="link brand">
                <img src="../../../../../assets/public/images/logo-navbar.svg" alt="logo-mts-corp">
            </a>
            <p>All rights reserved 2021</p>
            <div class="divisor">
                <a routerLink="/terms" class="link underlined">Terms</a>
                <a routerLink="/polices" class="link underlined">Polices</a>
            </div>
        </div>
        <div class="content-2">
            <a routerLink="/contact" class="link underlined">Contact us</a>
            <a class="link">or</a>
            <a href="mailto:info@mtservicescorp.com" class="link underlined">Email us</a>
        </div>
    </div>
    <div class="content">
        <span class="developed">Designed and developed by Victorguz and Ivanlnd.</span>
        <span class="developed">Powered by CokyCMS</span>
    </div>
</section>