<div class="sidebar">

    <a [routerLink]="['/admin']" class="logo">
        <img src="../../../../../assets/public/images/logo-navbar.svg" alt="logo-mts-services">
    </a>

    <div class="dispose-lg">
        <div class="user">
            <a class="image">
                <img src="../../../../../assets/public/images/pensioners.jpg" alt="user-image">
            </a>
            <div class="text">
                <div class="name">andrea smith</div>
                <div class="role">admin</div>
            </div>
            <div class="buttons">
                <a class="link">
                    <!-- <ion-icon name="settings-outline"></ion-icon> -->
                </a>
                <a class="link">
                    <!-- <ion-icon name="power"></ion-icon> -->
                </a>
            </div>
        </div>
    </div>

    <div class="not-dispose-lg">
        <div class="user">
            <a class="image">
                <img src="../../../../../assets/public/images/pensioners.jpg" alt="user-image">
            </a>
            <!-- <div class="text">
                <div class="name">andrea smith</div>
                <div class="role">admin</div>
            </div>
            <div class="buttons">
                <a class="link">
                    <ion-icon name="settings-outline" ></ion-icon>
                </a>
                <a class="link">
                    <ion-icon name="power" ></ion-icon>
                </a>
            </div> -->
        </div>
    </div>
    <div class="list">
        <a class="item" mat-flat-button routerLink="/{{route.route}}" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngFor="let route of routes">
            <ion-icon name="{{route.icon}}-{{tipeOfIcons}}"></ion-icon>
            {{route.title|titlecase}}
        </a>
    </div>
</div>