@import "../../../../assets/public/scss/imports/variables.scss";

.home,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  text-align: center;

  >* {
    margin: 2rem 0;
  }

  .title {
    font-size: 13rem;

    @media screen and (max-width:1700px) {
      font-size: 11rem;
    }

    @media screen and (max-width:1480px) {
      font-size: 10rem;
    }

    @media screen and (max-width:992px) {
      font-size: 9rem;
    }

    @media screen and (max-width:768px) {
      font-size: 7rem;
    }

    @media screen and (max-width:480px) {
      font-size: 4rem;
    }
  }

  .slogan {
    font-size: 4.2rem;
    text-align: center;

    @media screen and (max-width:1700px) {
      font-size: 4rem;
    }

    @media screen and (max-width:1480px) {
      font-size: 3.8rem;
    }

    @media screen and (max-width:992px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width:768px) {
      font-size: 3.3rem;
    }

    @media screen and (max-width:480px) {
      font-size: 2.5rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;

    width: 100%;

    @media screen and (max-width:1700px) {}

    @media screen and (max-width:1400px) {}

    @media screen and (max-width:992px) {}

    @media screen and (max-width:768px) {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    @media screen and (max-width:480px) {
      grid-template-columns: 50% 50%;
    }

    >* {
      margin: 4rem 0;

      @media screen and (max-width:768px) {
        margin: 1rem 0;
      }

    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      .images {
        transition: $transition-basic;
        position: relative;
        width: 25rem;
        height: 24rem;
        margin-bottom: 3rem;

        @media screen and (max-width:1700px) {
          width: 22rem;
          height: 21rem;
        }

        @media screen and (max-width:1440px) {
          width: 19rem;
          height: 18rem;
        }

        @media screen and (max-width:1200px) {
          width: 17rem;
          height: 16rem;
        }

        @media screen and (max-width:992px) {
          width: 15rem;
          height: 14rem;
        }

        @media screen and (max-width:768px) {
          width: 13rem;
          height: 12rem;
          margin-bottom: 1rem;
        }

        @media screen and (max-width:480px) {
          width: 12rem;
          height: 10rem;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          &.service {
            width: 80%;
            height: 80%;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

      }

      span {
        font-size: 2.5rem;

        @media screen and (max-width:1440px) {
          font-size: 2rem;
        }

        @media screen and (max-width:768px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.services {

  .container {

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: white;

      .images-container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        width: 100%;

        @media screen and (max-width:992px) {
          // width: fit-content;
        }

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          &.left {
            margin-right: 10rem;

            @media screen and (max-width:768px) {
              margin-right: 7rem;
            }

            @media screen and (max-width:480px) {
              margin-right: 3rem;
            }

            @media screen and (max-width:400px) {
              margin-right: 1rem;
            }
          }

          .title {
            margin-bottom: 5rem;
            font-size: 3rem;

            @media screen and (max-width:1480px) {
              font-size: 2.5rem;
            }

            @media screen and (max-width:992px) {
              margin-bottom: 2.5rem;
              font-size: 2rem;
            }

            @media screen and (max-width:768px) {
              font-size: 1.8rem;
            }

            @media screen and (max-width:480px) {
              font-size: 1.6rem;
            }
          }

          img {
            height: 25rem;

            @media screen and (max-width:1480px) {
              height: 20rem;
            }

            @media screen and (max-width:1200px) {
              height: 18rem;
            }

            @media screen and (max-width:768px) {
              height: 16rem;
            }

            @media screen and (max-width:480px) {
              height: 10rem;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      >* {
        margin: 3rem 0;

        @media screen and (max-width:1480px) {
          margin: 2rem 0;
        }

        @media screen and (max-width:992px) {
          margin: 1rem 0;
        }
      }

      .title {
        font-size: 7rem;

        @media screen and (max-width:1700px) {
          font-size: 6rem;
        }

        @media screen and (max-width:1480px) {
          font-size: 5rem;
        }

        @media screen and (max-width:992px) {
          font-size: 4rem;
        }

        @media screen and (max-width:768px) {
          font-size: 3.5rem;
        }

        @media screen and (max-width:480px) {
          font-size: 3rem;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        // flex-flow: wrap;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        margin-bottom: 0;

        @media screen and (max-width:768px) {
          display: flex;
          flex-direction: column;
        }

        .item {
          flex-direction: row;
          padding: 5rem;
          border-radius: $rounded;
          align-items: center;
          margin: 2rem;
          width: 90%;
          height: 90%;

          @media screen and (max-width:1440px) {
            padding: 3rem;
          }

          @media screen and (max-width:768px) {
            width: 100%;
            height: 100%;
            margin: 2rem 0;
            align-items: center;

            &.right {
              flex-direction: row-reverse;

              .images-content {
                align-items: flex-end;
                margin: 0;
                margin-left: 2rem;

                @media screen and (max-width:400px) {
                  margin: 0;
                  align-items: center;
                }
              }
            }
          }

          @media screen and (max-width:400px) {
            margin: 1rem 0;
            flex-flow: wrap;
          }

          .images-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 15rem;
            margin: 0;
            margin-right: 2rem;

            @media screen and (max-width:1700px) {
              width: 15rem;
            }

            @media screen and (max-width:1480px) {
              width: 11rem;
            }

            @media screen and (max-width:992px) {
              width: 8rem;
            }

            @media screen and (max-width:768px) {
              width: 12rem;
              align-items: center;
            }

            @media screen and (max-width:400px) {
              width: 100%;
              margin: 0;
            }

            .images {
              font-size: 15rem;
              height: 1em;
              width: 1em;

              @media screen and (max-width:1700px) {
                font-size: 15rem;
              }

              @media screen and (max-width:1480px) {
                font-size: 11rem;
              }

              @media screen and (max-width:992px) {
                font-size: 8rem;
              }

              @media screen and (max-width:768px) {
                font-size: 12rem;
              }

              @media screen and (max-width:480px) {
                font-size: 11rem;
              }
            }

            span {
              font-weight: bold;
              color: $primary-color-public;

              white-space: nowrap;
              font-size: 3rem;

              @media screen and (max-width:1700px) {
                font-size: 2.5rem;
              }

              @media screen and (max-width:1480px) {
                font-size: 2rem;
              }

              @media screen and (max-width:992px) {
                font-size: 1.8rem;
                white-space: normal;
              }

            }
          }

          p {
            color: $dark-color-public;
            font-size: 2.5rem;
            font-weight: $font-medium;
            text-align: right;

            @media screen and (max-width:1480px) {
              font-size: 1.8rem;
            }

            @media screen and (max-width:992px) {
              font-size: 1.6rem;
            }

            @media screen and (max-width:480px) {
              text-align: center;
            }
          }
        }
      }


    }

    .list {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: 0;

      @media screen and (max-width:768px) {
        display: flex;
        flex-flow: column;
      }

      .item {
        align-items: center;
        justify-content: center;
        width: 90%;
        height: fit-content;
        margin: 2rem;

        text-align: center;
        color: $dark-color-public;
        font-weight: $font-semibold;
        font-size: 3rem;
        padding: 2rem;
        white-space: nowrap;

        @media screen and (max-width:1700px) {
          font-size: 2.5rem;
        }

        @media screen and (max-width:1480px) {
          font-size: 2rem;
        }

        @media screen and (max-width:992px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width:768px) {
          width: 100%;
          padding: 1rem;
          white-space: normal;
        }
      }
    }
  }

  .end {
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      text-align: center;
      font-size: 10rem;
      color: white;
      margin-bottom: 3rem;

      @media screen and (max-width:1700px) {
        font-size: 9rem;
      }

      @media screen and (max-width:1480px) {
        font-size: 8rem;
      }

      @media screen and (max-width:992px) {
        font-size: 7rem;
      }

      @media screen and (max-width:768px) {
        font-size: 6.5rem;
      }

      @media screen and (max-width:480px) {
        font-size: 5rem;
      }
    }
  }
}
