/**
* Please, use this scss only for imports. Take care the order of each one.
*/
@import "assets/built-in/scss/imports/variables.scss";
@import "assets/built-in/scss/core.scss";

* {
  transition: $transition-basic;
  font-size: $default-font-size;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat" !important;
}

//Generals
html,
body {
  font-family: $secondary-font, $primary-font, $last-font, "Arial", "Helvetica",
    serif, sans-serif !important;
  font-weight: $font-regular;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: $default-font-size;
  padding: 0;
  margin: 0;
}

p,
span,
div,
strong,
small,
ul,
ol,
li,
dl,
dd,
a,
mark,
q,
blockquote h1,
input,
select,
textarea,
label {
  font-family: $last-font, $primary-font, $secondary-font, "Arial", "Helvetica",
    serif, sans-serif !important;
}

a {
  text-decoration: none;
}
small {
  font-size: 0.7rem;
}
label {
  font-size: 0.85rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font, $primary-font, $last-font, "Arial", "Helvetica",
    serif, sans-serif !important;
  display: block;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}
