<div class="coky-built-in">
    <div class="carousel noselection">
        <div class="images">
            <img src="{{image}}" alt="login-background" *ngFor="let image of images;let i = index" id="image-{{i}}">
        </div>

        <div class="objects">

            <div class="logo superior">{{logo}}</div>
            <div class="logo inferior">{{marca}}</div>
            <div class="carousel-dots">
                <a class="dot" *ngFor="let image of images; let i = index" id="{{i}}"></a>
            </div>
            <div class="logo copy">
                <span>© {{platform_name}} {{year}}</span>
                <a class="developed-by" href="{{link_developed}}">Developed and designed by {{developed}}</a>
            </div>
        </div>
    </div>
</div>