<div class="coky-public">
    <div class="section login">
        <app-public-navbar></app-public-navbar>
        <div class="container">
            <div class="form card">
                <div class="title">Sign in</div>
                <ng-container *ngIf="alert">
                    <p class="text-danger">{{alert}}</p>
                </ng-container>
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" [formControl]="username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Password">
                </div>
                <div class="field">
                    <button mat-flat-button class="primary fluid">Sign in</button>
                    <br>
                    <a class="forgot text-dark" [routerLink]="['/admin/users/forgot']">Forgot your password?</a>
                </div>
            </div>
        </div>
        <app-public-footer></app-public-footer>
    </div>
</div>