<div class="coky-public">
    <div class="section home">
        <app-public-navbar></app-public-navbar>
        <div class="container">
            <app-public-carousel></app-public-carousel>
            <div class="header">
                <div class="slogan bold">WE PROVIDE EXCEPTIONAL MAINTENANCE SERVICES, MINIMIZING ASSET DETERIORATION
                </div>
            </div>
            <app-public-about [home]="true"></app-public-about>
            <app-public-services [home]="true"></app-public-services>
            <app-public-plans [home]="true"></app-public-plans>
        </div>
        <app-public-footer></app-public-footer>
    </div>
</div>